<footer>
    <div>
        <ul>
            <li routerLinkActive='active' ><a routerLink="#">FAQ</a></li>
            <li routerLinkActive="active"><a routerLink="#">Contact Us</a></li>
            <li routerLinkActive='active' ><a routerLink = '#'>Terms of Use</a></li>
            <li routerLinkActive='active' ><a routerLink = '#'>Privacy Policy</a></li>
            <li routerLinkActive='active' ><a routerLink = '#'>Refund Policy</a></li>
            <li routerLinkActive='active' ><a routerLink = '#'>&copy; 2022 | X E L E R A T E - LEARNING </a></li>
        </ul>
    </div>
</footer>