.main{
    background-color: black;
    color: white;
    margin-top: -10px;
}

h3{
    margin-top: -5px;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    color: darkred;
}

#line{
    margin-top: 60px;
    color: black;
    font-weight: bolder;
}
#line2{
    color: black;
    font-weight: bolder;
}
