<app-header></app-header>

<div class="container">
    
    <div>
        <table class="table">
          
          <h5>MRC Harwell Induction</h5>
          <tr>
           <th>
              Student Name
          </th>

          <th>
            % Completed
          </th>

          </tr>

          <tr *ngFor="let course of courseDetails |filterByStudent:filterByUserName ; index as i">
            <td>{{course.firstname}}</td>
            <td>{{course.courses.harwellInduction}}</td>
          </tr>
         
          <h5>MRC Business Continuity</h5>
          <tr>
            <th>
               Student Name
           </th>
 
           <th>
             % Completed
           </th>
 
           </tr>

          <tr *ngFor="let course of courseDetails |filterByStudent:filterByUserName ; index as i">
            <td>{{course.firstname}}</td>
            <td>{{course.courses.businessContinuity}}</td>
          </tr>

          <h5>The Role Of The Animal Technician</h5>
          <tr>
            <th>
               Student Name
           </th>
 
           <th>
             % Completed
           </th>
 
           </tr>

          <tr *ngFor="let course of courseDetails |filterByStudent:filterByUserName ; index as i">
            <td>{{course.firstname}}</td>
            <td>{{course.courses.animaltech}}</td>
          </tr>

          <h5>Michrobiological Safty Cabinets</h5>
          <tr>
            <th>
               Student Name
           </th>
 
           <th>
             % Completed
           </th>
 
           </tr>

          <tr *ngFor="let course of courseDetails |filterByStudent:filterByUserName ; index as i">
            <td>{{course.firstname}}</td>
            <td>{{course.courses.michrobiology}}</td>
          </tr>

           <h5>Mobile Device Training</h5>
           <tr>
            <th>
               Student Name
           </th>
 
           <th>
             % Completed
           </th>

           </tr>

          <tr *ngFor="let course of courseDetails |filterByStudent:filterByUserName ;index as i">
            <td>{{course.firstname}}</td>
            <td>{{course.courses.mobiledevice}}</td>
          </tr> 

        </table> 
    </div><br>

</div>