.container{
    margin-left: 10%;
    margin-top: 10px;
}
.bt1{
    margin-left: 80%;
    margin-bottom: 2%;
}
.bt2{
    margin-left: 10px;
}
.card{
    width: 700px;
    height:auto;
    margin-left: 18%;
    margin-top: 120px;
    background-color: rgb(54, 10, 40);
    color: white;
}
.text-center{
    margin-top: 20px;
}
.main{
    background-color: black;
    color: white;
    margin-top: -10px;
}
 /* Sidebar */
 .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
    }
