.container{
    margin-left: 10%;
    margin-top: 130px;
}
.bt1{
    margin-left: 50%;
}
.bt2{
    margin-left: 10px;
}
.card{
    width: 500px;
    height:auto;
    margin-top: 60px;
    margin-left: 350px;
    background-color: rgb(35, 18, 69);
    color: white;
}
.text-center{
    margin-top: 20px;
}
.main{
    background-color: black;
    color: white;
    margin-top: -10px;
}


#login{
    margin-right: 60px;
}
#reg{
    margin-left: 10px;
}